[Desktop Entry]
Categories=Application;AudioVideo;
Comment=Neil Modular Sequencer
Encoding=UTF-8
Exec=neil
Hidden=false
Icon=neil
Name=Neil
GenericName=Neil Modular Sequencer
Terminal=false
Type=Application
MimeType=application/x-neil
